env:
  ELASTIC_APM_SERVICE_NAME: offer-application
  ELASTIC_APM_APPLICATION_PACKAGES: com.trasier.springboot.offer
  ELASTIC_APM_SERVER_URL: http://apm-server-apm-server:8200
  ELASTIC_APM_CAPTURE_BODY: all