offer:
  endpoint: http://apm-example-offer:7000

env:
  ELASTIC_APM_SERVICE_NAME: payment-application
  ELASTIC_APM_APPLICATION_PACKAGES: com.trasier.springboot.payment
  ELASTIC_APM_SERVER_URL: http://apm-server-apm-server:8200
  ELASTIC_APM_CAPTURE_BODY: all